<html>
    <head>
        <title>SteamSmart</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>

        <nav class="navbar navbar-expand-sm">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="classify">Classify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="caption">Caption</a>
                </li>
            </ul>
            
                    <!-- Brand -->	
            <div class="mx-auto">
                <a class="navbar-brand" href="#">SteamSmart</a>
            </div>

            <form class="form-inline ml-auto" action = "" method = "post" novalidate>
                {{ form.hidden_tag() }}

                <input name="search" class="form-control input-large mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button name="submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </nav>

        {% if meta %}
            <div class="jumbotron m-4">
                <h4> Found {{ meta.results }} results in {{ meta.delta }} seconds</h4>

                <table class="table">
                    <tr>
                        <th> Query Term </th>
                        {% for x in meta.query_columns %}
                            <th> {{ x.term }} </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <th> TF Calculation</th>

                        {% for x in meta.query_columns %}
                            <td> {{ x.tf | safe}} </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <th> IDF Calculation</th>
                            
                        {% for x in meta.query_columns %}
                            <td> {{ x.idf | safe}} </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <th> TF-IDF Calculation</th>
                                
                        {% for x in meta.query_columns %}
                            <td> {{ x.value | safe}} </td>
                        {% endfor %}
                     </tr>

                </table>
            </div>
        {% endif %}

        {% if query %}
            <div class="jumbotron m-4">

            </div>

        {% endif %}

        {% if results %}
            {% for result in results %}
            <div class="m-4" style="background-color: {{ result.bg_color }}; border-radius: 10px">
                <div class="jumbotron mr-2">
                    <h1> {{result.name}} </h1>
                    <hr/>
                    <img src="{{ result.img_url }}" class="rounded m-2" width="50%"></img>
                    <hr/>

                    <h1>Description</h1>
                    <p> {{ result.desc | safe}} </p>
                    <hr/>

                    <h1>Calculations</h1>
                    <table class="table">
                        <tr>
                            <th> Document Term </th>
                            {% for x in meta.query_columns %}
                                <th> {{ x.term }} </td>
                            {% endfor %}
                        </tr>
    
                        <tr>
                            <th> TF Calculation</th>
    
                            {% for x in result.tf %}
                                <td> {{ x | safe}} </td>
                            {% endfor %}
                        </tr>
    
                        <tr>
                            <th> IDF Calculation</th>
                                
                            {% for x in result.idf %}
                                <td> {{ x | safe}} </td>
                            {% endfor %}
                        </tr>
    
                        <tr>
                            <th> TF-IDF Calculation</th>
                                    
                            {% for x in result.tfidf %}
                                <td> {{ x | safe}} </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <table class="table">
                        <tr>
                            <th> Query-Document Dot Product </th>        
                            <td> {{ result.dot | safe }} </td>
                        </tr>

                        <tr>
                            <th> Cosine Similarity </th>        
                            <td> {{ result.cos_sim | safe }} </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </body>
</html>