<html>
    <head>
        <title>SteamSmart</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>

        <nav class="navbar navbar-expand-sm">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="classify">Classify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="caption">Caption</a>
                </li>
            </ul>
            
                    <!-- Brand -->	
            <div class="mx-auto">
                <a class="navbar-brand" href="#">SteamSmart</a>
            </div>

            <form class="form-inline ml-auto" action = "" method = "post" novalidate>
                {{ form.hidden_tag() }}

                <input name="search" class="form-control input-large mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button name="submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <hr/>
        </nav>

        {% for result in results %}
            <h1> {{result.genre}}</h1>
            <h5> {{result.calculation}} </h5>
        {% endfor %}

    </body>
</html>